@font-face{
    font-family: 'Playwrite AU VIC Guides';
    src: url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC+Guides&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
}

@keyframes changecolor{
    /* from{
        color: rgb(255, 145, 0);
    }to{
        color: rgb(255, 0, 170);
    } */

    0%{
        background-color: rgb(255, 0, 0);
    }
    25%{
        background-color: rgb(165, 147, 42);
    }
    50%{
        width: 250px;
        border-radius: 80%;
        background-color: rgb(52, 165, 42);
    }
    75%{
        background-color: rgb(42, 157, 165);
    }
    100%{
        background-color: rgb(165, 42, 42);
    }
}

#heading{
    background-color: brown;
    height: 100px;
    width: 100px;
    animation-name: changecolor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
    animation-direction: alternate;
    animation-timing-function:cubic-bezier();
}

#heading2{
    background-color: brown;
    height: 100px;
    width: 100px;
    animation-name: changecolor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out ;
}
div{
    color: white;
    font-family: 'Playwrite AU VIC Guides';
    font-size: 40px;
    vertical-align: middle;
    border-radius: 20%;
}