*{
   background-color: black;
   color: thistle;

}
h1{
    color: aquamarine;
}
p{
    color: white;
    font-size: 25pt;
}
#id1{
    color: green;
    background: red;
    border: 2px dashed white;
}
.class1{
    color: red;
    background: green;
    border: 1px solid white;
}
div{
    background-color: aquamarine;
    color: orange;
    font-size: 40pt;
    border: 5px dotted red;
}
#dashed{
    border: 2px dashed white;
}
#dotted{
    border: 2px dotted white;
}
#solid{
    border: 2px solid white;
}
#double{
    border: 2px double white;
}
#inset{
    border: 2px inset white;
}
#outset{
    border: 2px outset white;
}
#none{
    border: none;
}
#fixed{
    border: 5px fixed white;
}
#groove{
    border: 5px groove white;
}
#ridge{
    border: 5px ridge white;
}
#hidden{
    border: 5px hidden white;
}

#p1{
    border: 2px dotted white;
}
#p2{
    border: 2px dotted #00ffff;
    padding: 100px 400px 100px 400px;
    margin: 100px 600px 25px 400px;
    font-size: 25pt;
    color: tomato;
}
#decore{
    width: 500px;
    border: 1px solid white;
    text-align: center;
    direction: rtl;
    text-transform: lowercase;
}
#decore2{
    width: 1000px;
    height: 500px;
    border: 1px solid blue;
    text-align: center;
    direction: rtl;
    text-transform: capitalize;
    text-transform: uppercase;
    text-transform: lowercase;
    text-decoration: wavy;
    text-decoration: underline overline line-through;
}